<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<section class="hero">
  <header>
    <a href="twitch.tv/Ibai"><h2>TWITCH.TV/IBAI</h2></a>
  </header>
  <main>
    <div class="imagen">
      <div class="fondoLogo">
        <img src="./assets/Vector.svg">
      </div>
      <div class="imagenLogo">
        <img src="./assets/logoVelada.png" alt="logo del evento"/>
      </div>
    </div>
  </main>
  <footer>
    <h2>13 de julio</h2>
    <h3><span class="material-symbols-outlined">location_on</span>ESTADIO SANTIAGO BERNABÉU</h3>
  </footer>
</section>
<section class="botonera container">
  <div class="botonera1">
    <div class="boton">
      <button class="btn btn-outline-light">Compra tus entradas </button>
      <span class="agotadas">¡Agotadas!</span>
    </div>
    <div class="boton">
      <button class="btn btn-outline-light">Tienda oficial</button>
    </div>
  </div>
  <div class="botonera2">
    <button class="btn btn-outline-light" id="crecer">Agregar al calendario</button>
  </div>
</section>
