.block{
  background: $degradadoContenedor;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .numero{
    @include fuenteTitulos(10em);
    color: $acento;
  }
}
